<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US">
	<head>

		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>ACCO {%trans%}title{%endtrans%}{% block title %}{% endblock %}</title>

	</head>
	<body>
		{% block content %}{% endblock %}
	</body>
</html>