{% extends "DellaertKULEducationXMLBundle::layout.html.twig" %}

{% block content %}
	<script type="text/javascript">
		$(document).ready(function(){
			$('#studies').hide();
			$('#faculties').hide();
			$.getJSON('{{ path('dellaert_kul_education_xml_list_faculties_by_id_title', {'_locale': app.request.locale}) }}', function(data){
				var html = '';
				var len = data.length;
				for( var i=0; i < len; i++ ){
					html += '<option value="' + data[i].id + '">' + data[i].title + '</option>';
				}
				$('#faculties').append(html);
			});
			$('#faculties').show();

			$('#faculties').change(function(){
				if( $(this).val() > 0 ) {
					$.getJSON('{{ path('dellaert_kul_education_xml_list_studies_by_id_title_noid', {'_locale': app.request.locale}) }}/'+$(this).val(), function(data) {
						var html = '';
						var len = data.length;
						for( var i=0; i < len; i++ ){
							html += '<option value="' + data[i].id + '">' + data[i].title + '</option>';
						}
						$('#studies').append(html);
					});
					$('#studies').show();
				}
			});
		});
	</script>

	<form method="POST">
		<select name="faculty" id="faculties" size="1">
			<option value="-1">{% trans %}choose.faculty{% endtrans %}</option>
		</select>
		<br />
		<select name="study" id="studies" size="1">
			<option value="-1">{% trans %}choose.study{% endtrans %}</option>
		</select>
	</form>
{% endblock %}
