{% extends "DellaertKULEducationXMLBundle::layout.html.twig" %}

{% block content %}
	<form method="POST">
		<select name="faculty" size="1">
			<option value="-1">{% trans %}choose.faculty{% endtrans %}</option>
			{% for entry in faculties %}
				<option value="{{ entry.id }}">{{ entry.title }}</option>
			{% endfor %}
		</select>
	</form>
{% endblock %}